*.class   
# Package Files
#
 *.war
 *.ear
 *.bin
 /.idea
/workspace.xml
 /.idea/libraries  
/.idea/workspace.xml 
/.idea/libraries out/ .idea/ .idea
.idea
.gitignore
.idea/
dist/
out/
src/compiler/core/Operation.java
src/compiler/main/
src/compiler/util/Node.java
examples/
bin/